{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="images/favicon.png" rel="icon" />
<title>Reports</title>
<link rel = "icon" href = "{% static 'images/logo.png' %}"type = "image/x-icon">
<meta name="author" content="harnishdesign.net">

<!-- Web Fonts
======================= -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' type='text/css'>

<!-- Stylesheet
======================= -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/animations.css' %}">
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />

<script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
<style>

    @page
    {

    size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 40pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512pt; top: 90pt; height: 632pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 772pt; height: 20pt;
        }
    }
    
</style>
</head>
<body>
<!-- Container -->
<div class="container-fluid invoice-container">
  <!-- Header -->
  <header>
  <div class="row align-items-center">
    <div>
        <a href="" class="logo top_logo">
            <img src="..\ep\static\images\logo.png" alt="">
            
          </a> 
      <span class="logo_text" style="color:green;">
        <span class="big">EcoPlast</span>
        <span class="small-text">Recycling</span>
      </span>   
    </div>
    
  </div>
  <hr>
  </header>
  
  <!-- Main Content -->

  <section class="ls section_padding_100">
    <div class="container">
            
        <div class="row">
            <div class="col-sm-12">
                <h1 class="divider_40"> Recycled Products Selling  to Customer {% if sdate %} from date: {{sdate}}{% endif %}{% if edate %} till date: {{edate}} {% endif %} :</h1>
            </div>
        </div>
        
        <div class="row">
            <center>
        
            <table class="table table-bordered" border="1" style="padding-top:5px; font-size: 12px;">
                <thead>
                    <tr>            
                        <th>Sr. No.</th>
                        <th>Recycling Company</th>
                        <th>Customer</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Date</th>
                        
                    </tr>
                </thead>
                
                
                <tbody>
                    {% if company %}
                    {% for i in company %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.company_id.comp_name}}</td>
                        <td>{{i.cust_id.fname}} {{i.cust_id.lname}}</td>
                        <td>{{i.rp_id.rproduct_name}}</td>
                        <td>{{i.cart_price}}</td>
                        <td>{{i.cart_quantity}}</td>
                        <td>{{i.order_date|date:"Y-m-d"}}</td>
                        
                    </tr>
                    {% endfor %}   
                    {% else %} 
                    <tr>
                        <td colspan="7"><center>No Records</center> </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            
        </center>
        </div>
        
        
    </div>
</section>
  <!-- Footer -->
<div id="footer_content" style="text-align: right;"> page <pdf:pagenumber>
    of <pdf:pagecount>
</div>
</div>

<script src="{% static 'js/compressed.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/switcher.js' %}"></script>
</body>

</html>