{% extends 'ep/base.html' %}
{% load static %}
{% block content %}

<section id="about" class="ls section_padding_top_100 section_padding_bottom_150">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 text-center">
							<h2 class="section_header with_icon">
								Welcome to EcoPlast
							</h2>
							<p class="bottommargin_30">
					EcoPlast is a Family-owned company located in Ahmedabad, Gujarat proudly serving individuals and businesses in North-Center Ahmedabad where people can buy or sell plastic products in any condition.
				</p>
							<img src="images/signature.png" alt="" />
						</div>
					</div>
					<div class="row topmargin_40 columns_margin_top_60">
						<div class="col-md-4">
							<div class="teaser with_border rounded text-center">
								<div class="teaser_icon main_bg_color2 round size_small offset_icon">
									<i class="fa fa-leaf"></i>
								</div>
								<h4 class="poppins hover-color2">
									Corporate Services
								</h4>
								<p>
						Guaranteed that all of your universal waste management is performed safely and responsibly.
					</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="teaser with_border rounded text-center">
								<div class="teaser_icon main_bg_color3 round size_small offset_icon">
									<i class="fa fa-inbox"></i>
								</div>
								<h4 class="poppins hover-color3">
									Convenient Pickup
								</h4>
								<p>
						We offer business pickup services to safely recycle your electronics in a safe manner.
					</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="teaser with_border rounded text-center">
								<div class="teaser_icon main_bg_color round size_small offset_icon">
									<i class="fa fa-calendar"></i>
								</div>
								<h4 class="poppins">
									E-waste Events
								</h4>
								<p>
						We work with non-profits, businesses, and other organizations to host community e-waste events.
					</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			

			<section class="ls overflow_hidden half_section section_padding_top_100 section_padding_bottom_150 columns_padding_80">
				<div class="image_cover image_cover_left">
					<!-- you can put your image here instead of puting it in column-->
					<!-- <img src="img/parallax/half_image.jpg" alt=""> -->
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<img src="{% static 'img/parallax/half_image.jpg' %}" alt="">
						</div>
						<!-- .col-* -->
						<div class="col-md-6">

							<h2 class="section_header with_icon">
								Our Mission
							</h2>
							<p class="small-text grey">About us</p>

							<p>
					Our mission is to keep as much plastic waste from ending up in local landfills as we can
				</p>

							<div class="panel-group" id="accordion1">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
												<i class="fa fa-envelope"></i>
												Reducing waste
											</a>
										</h4>
									</div>
									<div id="collapse1" class="panel-collapse collapse in">
										<div class="panel-body">
											As we have recycling company with us, they can manage the plastic collected from customers. Where the management is divided in two parts namely Usage & Wastage however, from this all collected plastic will use for recycling process. 
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion1" href="#collapse2" class="collapsed">
												<i class="fa fa-envelope"></i>
												Reduce program
											</a>
										</h4>
									</div>
									<div id="collapse2" class="panel-collapse collapse">
										<div class="panel-body">
											We also provide services of Plastic Collector, when customer askes for collecting plastic our plastic collector comes to the customer's home to collect and after collecting it differenciate usable plastic and non-usable plastic which helps for Reduction program.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion1" href="#collapse3" class="collapsed">
												<i class="fa fa-envelope"></i>
												more about recycling
											</a>
										</h4>
									</div>
									<div id="collapse3" class="panel-collapse collapse">
										<div class="panel-body">
											Our Recycling Company have differenciate seven different types of plastic such as : <br>
											<br>
											<b>Acrylic or Polymethyl Methacrylate (PMMA):</b><br>
											Well-known for its use in optical devices and products, acrylic is a transparent thermoplastic used as a lightweight, shatter-resistant alternative to glass. Acrylic is typically used in sheet form create products such as acrylic mirrors and acrylic plexiglass. The transparent plastic can be made colored and fluorescent, abrasion-resistant, bullet-resistant, UV-tolerant, non-glare, anti-static and many more. In addition to being than glass and polycarbonate sheeting, acrylic is seventeen times more impact resistant than glass, easier to handle and process, and has endless applications.  
											<br><br>
											<b>Polycarbonate (PC)</b><br>
											Tough, stable, and transparent, polycarbonate is an excellent engineering plastic that is as clear as glass and two hundred and fifty times stronger. Thirty times stronger than acrylic, clear polycarbonate sheets are also easily worked, molded, and thermo-formed or cold-formed. Although extremely strong and impact-resistant, polycarbonate plastic possesses inherent design flexibility. Unlike glass or acrylic, polycarbonate plastic sheets can be cut or cold-formed on site without pre-forming and fabrication. Polycarbonate plastic is in a wide variety of products including greenhouses, DVDs, sunglasses, police riot gear, and more.           
											<br><br>
											<b>Polyethylene (PE)</b><Br>
											The most common plastic on earth, polyethylene can be manufactured in varying densities. Each different density of polyethylene gives the final plastic unique physical properties. As a result, polyethylene is in a wide variety of products.  
											<br><br>
											<b>Polypropylene (PP)</b><Br>
											This plastic material is a thermoplastic polymer and the world’s second-most widely produced synthetic plastic. Its widespread use and popularity are undoubted because polypropylene is one of the most flexible thermoplastics on the planet. Although PP is stronger than PE, it still retains flexibility. It will not crack under repeated stress. Durable, flexible, heat resistant, acid resistance, and cheap, polypropylene sheets are used to make laboratory equipment, automotive parts, medical devices, and food containers. Just to name a few.  
											<br><br>
											<b>Polyethylene Terephthalate (PETE or PET)</b><br>
											The most common thermoplastic resin of the polyester family, PET is the fourth-most produced synthetic plastic. Polyethylene Terephthalate has excellent chemical resistance to organic materials and water and is easily recyclable. It is practically shatterproof and possesses an impressive high strength to weight ratio. This plastic material is in fibers for clothing, containers for foods and liquid, glass fiber for engineering resins, carbon nanotubes, and many other products that we use on a daily basis.
											<br><br>
											<b>Polyvinyl Chloride (PVC)</b><br>
											The third-most produced synthetic plastic polymer, PVC can be manufactured to possess rigid or flexible properties. It is well-known for its ability to blend with other materials. For example, expanded PVC sheets are a foamed polyvinyl chloride material that is ideal products like kiosks, store displays, and exhibits. The rigid form of PVC is commonly in construction materials, doors, windows, bottles, non-food packaging, and more. With the addition of plasticizers such as phthalates, the softer and more flexible form of PVC is in plumbing products, electrical cable insulation, clothing, medical tubing, and other similar products.  
											<br><br>
											<b>Acrylonitrile-Butadiene-Styrene (ABS)</b><br>
											Created by polymerizing styrene and acrylonitrile in the presence of polybutadiene, ABS is robust, flexible, glossy, highly processable, and impact resistant. It can be manufactured in a range of thicknesses from 200 microns to 5mm with a maximum width of 1600mm. With a relatively low manufacturing cost, ABS plastic sheeting is typically used in the automotive and refrigeration industries but is also in products such as boxes, gauges, protective headgear, luggage, and children’s toys. 
											<br><br>
										</div>
									</div>
								</div>
							</div>

						</div>
						<!-- .col-* -->


					</div>
				</div>

			</section>


			

			
			

			

			

			<section class="ls">
				<div class="owl-carousel" data-responsive-xlg="8" data-responsive-lg="8" data-responsive-md="5" data-responsive-sm="3" data-responsive-xs="2" data-loop="true" data-margin="0" data-nav="true">

					<div class="vertical-item content-absolute corporate consulting">
						<div class="item-media">
							<img src="images/gallery_square/01.jpg" alt="">
							<div class="media-links">
								<a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="images/gallery/01.jpg"></a>
							</div>
						</div>
					</div>

					<div class="vertical-item content-absolute corporate consulting">
						<div class="item-media">
							<img src="images/gallery_square/02.jpg" alt="">
							<div class="media-links">
								<a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="images/gallery/02.jpg"></a>
							</div>
						</div>
					</div>

					<div class="vertical-item content-absolute corporate consulting">
						<div class="item-media">
							<img src="images/gallery_square/03.jpg" alt="">
							<div class="media-links">
								<a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="images/gallery/03.jpg"></a>
							</div>
						</div>
					</div>

					<div class="vertical-item content-absolute corporate consulting">
						<div class="item-media">
							<img src="images/gallery_square/04.jpg" alt="">
							<div class="media-links">
								<a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="images/gallery/04.jpg"></a>
							</div>
						</div>
					</div>

					<div class="vertical-item content-absolute corporate consulting">
						<div class="item-media">
							<img src="images/gallery_square/05.jpg" alt="">
							<div class="media-links">
								<a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="images/gallery/05.jpg"></a>
							</div>
						</div>
					</div>

					<div class="vertical-item content-absolute corporate consulting">
						<div class="item-media">
							<img src="images/gallery_square/06.jpg" alt="">
							<div class="media-links">
								<a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="images/gallery/06.jpg"></a>
							</div>
						</div>
					</div>

					<div class="vertical-item content-absolute corporate consulting">
						<div class="item-media">
							<img src="images/gallery_square/07.jpg" alt="">
							<div class="media-links">
								<a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="images/gallery/07.jpg"></a>
							</div>
						</div>
					</div>

					<div class="vertical-item content-absolute corporate consulting">
						<div class="item-media">
							<img src="images/gallery_square/08.jpg" alt="">
							<div class="media-links">
								<a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="images/gallery/08.jpg"></a>
							</div>
						</div>
					</div>

					<div class="vertical-item content-absolute corporate consulting">
						<div class="item-media">
							<img src="images/gallery_square/09.jpg" alt="">
							<div class="media-links">
								<a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="images/gallery/09.jpg"></a>
							</div>
						</div>
					</div>

					<div class="vertical-item content-absolute corporate consulting">
						<div class="item-media">
							<img src="images/gallery_square/10.jpg" alt="">
							<div class="media-links">
								<a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="images/gallery/10.jpg"></a>
							</div>
						</div>
					</div>

					<div class="vertical-item content-absolute corporate consulting">
						<div class="item-media">
							<img src="images/gallery_square/11.jpg" alt="">
							<div class="media-links">
								<a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="images/gallery/11.jpg"></a>
							</div>
						</div>
					</div>

					<div class="vertical-item content-absolute corporate consulting">
						<div class="item-media">
							<img src="images/gallery_square/12.jpg" alt="">
							<div class="media-links">
								<a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="images/gallery/12.jpg"></a>
							</div>
						</div>
					</div>

				</div>
			</section>
{% endblock %}