{% extends 'ep/base2.html' %}
{% block content %}
			<section class="ls with_bottom_border">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<ol class="breadcrumb darklinks">
								<li>
									<a href="{% url 'companyindex' %}">Dashboard</a>
								</li>
								<li>Account</li>
								<li class="active">Edit Profile</li>
							</ol>
						</div>
						<div class="col-md-6 text-md-right">
							<span class="dashboard-daterangepicker">
								<i class="fa fa-calendar"></i>
								<span></span>
								<i class="caret"></i>
							</span>
						</div>
					</div>
				</div>
			</section>
{% if key6 %}
			<section class="ls section_padding_top_50 section_padding_bottom_50 columns_padding_10">
			<form action="{% url 'companyupdate' pk=request.session.id %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="container-fluid">

					<div class="row">
						<div class="col-sm-12">
							<h3>Edit User
								<small>profile</small>
							</h3>
						</div>
					</div>


					<div class="row">
						<div class="col-xs-12">

							<form class="form-horizontal">
								<div class="row flex-row">
									<div class="col-md-6">

										<div class="with_border with_padding">

											<h4>Company Information</h4>

											<hr>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Company Name:</label>
												<div class="col-lg-9">
													<input type="text" class="form-control" name="cname" value="{{key6.comp_name}}">
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Contact Number:</label>
												<div class="col-lg-9">
													<input type="tel" class="form-control" name="ccontact" value="{{key6.comp_contact}}">
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Company Address:</label>
												<div class="col-lg-9">
													<input type="text" name="caddress" value="{{key6.comp_address}}">
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">E-mail address:</label>
												<div class="col-lg-9">
													<input type="email" class="form-control" name="email"value="{{request.session.email}}">
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Company Website:</label>
												<div class="col-lg-9">
													<input type="text" name="cwebsite" value="{{key6.comp_website}}">
												</div>
											</div>
										</div>

									</div>

									<div class="col-md-6">
										<div class="with_border with_padding">

											<h4>Owner Information</h4>
											<hr>
											<div class="row form-group">
												<label class="col-lg-3 control-label">First Name:</label>
												<div class="col-lg-9">
													<input type="text" name="cofname" class="form-control" value="{{key6.owner_fname}}">
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Last Name:</label>
												<div class="col-lg-9">
													<input type="text" name="colname" class="form-control" value="{{key6.owner_lname}}">
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Gender:</label>
												<div class="col-lg-9">
													<select class="form-control" name="cogender" style="height: 50px;">
														<option>{{key6.owner_gender}}</option>
														<option>Male</option>
														<option>Female</option>
														<option>Other</option>
													</select>
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Contact number:</label>
												<div class="col-lg-9">
													<input type="tel" class="form-control" name="cocontact"value="{{key6.owner_contact}}">
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">E-mail address:</label>
												<div class="col-lg-9">
													<input type="email" class="form-control" name="coemail"value="{{key6.owner_email}}">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row flex-row">
									<div class="col-md-6">
										<div class="with_border with_padding">

											<h4>Security</h4>

											<hr>

											<div class="row form-group">
												<label class="col-lg-3 control-label">Old password:</label>
												<div class="col-lg-9">
													<input type="password" name="password" class="form-control">
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">New password:</label>
												<div class="col-lg-9">
													<input type="password" name="password" class="form-control">
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">Repeat New password:</label>
												<div class="col-lg-9">
													<input type="password" name="cpassword" class="form-control">
												</div>
											</div>


										</div>
									</div>
									<div class="col-md-6">
										<div class="with_border with_padding">

											<h4>Social Networks</h4>

											<hr>

											<div class="row form-group">
												<label class="col-lg-3 control-label">
												<a class="social-icon soc-facebook"></a> 
													FaceBook:</label>
												<div class="col-lg-9">
													<input type="text" name="cfb" class="form-control" value="{{key6.comp_fb}}">
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">
													<a class="social-icon soc-instagram"></a>
													Instagram:</label>
												<div class="col-lg-9">
													<input type="text" name="cinsta" class="form-control" value="{{key6.comp_insta}}">
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">
													<a class="social-icon soc-twitter"></a>
													Twitter:</label>
												<div class="col-lg-9">
													<input type="text" name="ctwitter" class="form-control" value="{{key6.comp_twitter}}">
												</div>
											</div>
											<div class="row form-group">
												<label class="col-lg-3 control-label">
													<a class="social-icon soc-linkedin"></a>
													LinkedIn:</label>
												<div class="col-lg-9">
													<input type="text" name="clinkedin" class="form-control" value="{{key6.comp_linkedin}}">
												</div>
											</div>

										</div>
									</div>
								</div>


								<div class="row">
									<div class="col-sm-12">
										<div>

											<button type="submit" class="theme_button wide_button">Submit</button>
											<a href="" class="theme_button color2">Cancel</a>

										</div>

									</div>

								</div>
							</form>
						</div>
					</div>
				</div>
			</form>
			</section>
{% endif %}
			<section class="page_copyright ds darkblue_bg_color">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6">
							<p class="grey">&copy; Copyrights 2017</p>
						</div>
						<div class="col-sm-6 text-sm-right">
							<p class="grey">Last account activity <i class="fa fa-clock-o"></i> 52 mins ago</p>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>
	<div class="side-dropdown side-chat dropdown">
		<a class="side-button side-chat-button" id="chat-dropdown" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-comments-o"></i>
		</a>

		<ul class="dropdown-menu list-unstyled" aria-labelledby="chat-dropdown">
			<li class="dropdown-title darkgrey_bg_color">
				<h4>
					Small Chat
					<span class="pull-right">14.03.2017</span>
				</h4>
			</li>
			<li>

				<ul class="list-unstyled">
					<li class="side-chat-item item-secondary">
						<h5>
							Michael Anderson
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:50
							</time>
						</h5>
						<div class="danger_bg_color">
							Duis autem veum iriure dolor in hendrerit
						</div>
					</li>
					<li class="side-chat-item item-primary">
						<h5>
							Jane Walker
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:52
							</time>
						</h5>
						<div class="warning_bg_color">
							Vulputate vese molestie consequatl illum
						</div>
					</li>
					<li class="side-chat-item item-secondary">
						<h5>
							Michael Anderson
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:50
							</time>
						</h5>
						<div class="danger_bg_color">
							Duis autem veum iriure dolor in hendrerit
						</div>
					</li>
				</ul>
			</li>


			<li role="separator" class="divider"></li>

			<li>
				<div class="side-chat-answer">
					<form class="form-inline button-on-input">
						<div class="form-group">
							<label for="side-chat-message" class="sr-only">Message</label>
							<input type="text" class="form-control" id="side-chat-message" placeholder="Message">
						</div>
						<button type="submit" class="btn btn-danger">
							<i class="fa fa-paper-plane-o"></i>
						</button>
					</form>
				</div>
			</li>
		</ul>
	</div>
{% endblock %}