{% load static %}
<!DOCTYPE html>
<html class="no-js">
<head>
	<title>EcoPlast</title>
	<link rel = "icon" href = "{% static 'images/logo.png' %}"type = "image/x-icon">

	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/animations.css' %}">
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" class="color-switcher-link' %}">
	<script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>

</head>

<body class="admin">

	<div class="preloader">
		<div class="preloader_image"></div>
	</div>

	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">
				<i class="rt-icon2-cross2"></i>
			</span>
		</button>
		<div class="widget widget_search">
			<form method="get" class="searchform search-form form-inline" action="http://webdesign-finder.com/html/gogreen/">
				<div class="form-group">
					<input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
				</div>
				<button type="submit" class="theme_button">Search</button>
			</form>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls with_padding">

		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" id="admin_contact_modal">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<form class="with_padding contact-form" method="post" action="http://webdesign-finder.com/html/gogreen/">
					<div class="row">
						<div class="col-sm-12">
							<h3>Contact Admin</h3>
							<div class="contact-form-name">
								<label for="name">Full Name
									<span class="required">*</span>
								</label>
								<input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Full Name">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="contact-form-subject">
								<label for="subject">Subject
									<span class="required">*</span>
								</label>
								<input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control" placeholder="Subject">
							</div>
						</div>

						<div class="col-sm-12">

							<div class="contact-form-message">
								<label for="message">Message</label>
								<textarea aria-required="true" rows="6" cols="45" name="message" id="message" class="form-control" placeholder="Message"></textarea>
							</div>
						</div>

						<div class="col-sm-12 text-center">
							<div class="contact-form-submit">
								<button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button wide_button color1">Send Message</button>
								<button type="reset" id="contact_form_reset" name="contact_reset" class="theme_button wide_button">Clear Form</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="canvas">
		<div id="box_wrapper">
			<section class="ls section_padding_top_100 section_padding_bottom_100 section_full_height">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 to_animate">
							<div class="with_border with_padding">

								<h4 class="text-center">
									Customer Profile Update
								</h4>
                                {% if key4 %}
                                <form action="{% url 'update' pk=request.session.id %}" method="post">
									{% csrf_token %}
									<input type="hidden" name="role" id="" value="customer">
								<hr class="bottommargin_30">
								<div class="wrap-forms">
									<form>
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group has-placeholder">
													<label for="login-name">First Name</label>
													<i class="grey fa fa-user"></i>
													<input type="text" class="form-control" placeholder="First Name" name="fname" value="{{key4.fname}}">
												</div>

											</div>
                                        </div>
                                        <div class="row">
											<div class="col-sm-12">
												<div class="form-group has-placeholder">
													<label for="login-name">Last Name</label>
													<i class="grey fa fa-user"></i>
													<input type="text" class="form-control"  placeholder="Last Name" name="lname" value="{{key4.lname}}">
												</div>

											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group has-placeholder">
													<label for="login-name">Gender</label>
														<div class="col-md-12 form-group">Gender
															<select name="gender"  style="height: 50px;">
																<option>{{key4.gender}}</option>
																<option>Male</option>
																<option>Female</option>
																<option>Other</option>
															</select>
														</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group has-placeholder">
													<label for="login-email">Email</label>
													<i class="grey fa fa-envelope-o"></i>
													<input type="email" class="form-control" placeholder="Email Address" name="email" value="{{request.session.email}}">
												</div>

											</div>
                                        </div>
                                        <div class="row">
											<div class="col-sm-12">
												<div class="form-group has-placeholder">
													<label for="login-name">Contact</label>
													<i class="grey fa fa-phone"></i>
													<input type="number" class="form-control" name="contact"  placeholder="contact" value="{{key4.contact}}">
												</div>

											</div>
										</div>
                                        <div class="row">
											<div class="col-sm-12">
												<div class="form-group has-placeholder">
													<label for="login-name">Address</label>
													<i class="grey fa fa-map-signs"></i>
													<input type="text" class="form-control" name="address"  placeholder="address" value="{{key4.address}}">
												</div>
											</div>
											
										</div>
										
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group has-placeholder">
													<label for="login-name">City</label>
													<i class="grey fa fa-map-marker"></i>
													<input type="text" class="form-control" name="city" placeholder="city" value="{{key4.city}}">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group has-placeholder">
													<label for="login-name">Postal Code</label>
													<i class="grey fa fa-map-pin"></i>
													<input type="number" class="form-control" name="postcode"  placeholder="postal code" value="{{key4.postalcode}}">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group has-placeholder">
													<label for="login-name">State</label>
														<div class="col-md-12 form-group">
															<input list="brow" class="form-control" size="30" name="state" style="width: auto; float: left;height: 50px;" placeholder="Select State">
																<datalist id="brow"  style="height: 50px;">
																	<option>{{key4.state}}</option>
																	<option value="Andhra Pradesh">Andhra Pradesh</option>
																	<option value="Arunachal Pradesh">Arunachal Pradesh</option>
																	<option value="Assam">Assam</option>
																	<option value="Bihar">Bihar</option>
																	<option value="Chandigarh">Chandigarh</option>
																	<option value="Chhattisgarh">Chhattisgarh</option>
																	<option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
																	<option value="Daman and Diu">Daman and Diu</option>
																	<option value="Delhi">Delhi</option>
																	<option value="Goa">Goa</option>
																	<option value="Gujarat">Gujarat</option>
																	<option value="Haryana">Haryana</option>
																	<option value="Himachal Pradesh">Himachal Pradesh</option>
																	<option value="Jammu and Kashmir">Jammu and Kashmir</option>
																	<option value="Jharkhand">Jharkhand</option>
																	<option value="Karnataka">Karnataka</option>
																	<option value="Kerala">Kerala</option>
																	<option value="Madhya Pradesh">Madhya Pradesh</option>
																	<option value="Maharashtra">Maharashtra</option>
																	<option value="Manipur">Manipur</option>
																	<option value="Meghalaya">Meghalaya</option>
																	<option value="Mizoram">Mizoram</option>
																	<option value="Nagaland">Nagaland</option>
																	<option value="Odisha">Odisha</option>
																	<option value="Punjab">Punjab</option>
																	<option value="Pondicherry">Pondicherry</option>
																	<option value="Rajasthan">Rajasthan</option>
																	<option value="Sikkim">Sikkim</option>
																	<option value="Tamil Nadu">Tamil Nadu</option>
																	<option value="Telangana">Telangana</option>
																	<option value="Tripura">Tripura</option>
																	<option value="Uttar Pradesh">Uttar Pradesh</option>
																	<option value="Uttarakhand">Uttarakhand</option>
																	<option value="West Bengal">West Bengal</option>
                                        						</datalist>
														
														</div>
												</div>
											</div>
										</div>	
										
										<a href=""><button type="submit" class="theme_button block_button color1"> Update</button></a>
                                        {% endif %}
									</form>
								</form>
								</div>

							</div>
							<p class="divider_20 text-center">
					
				</p>

						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="side-dropdown side-chat dropdown">
		<a class="side-button side-chat-button" id="chat-dropdown" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-comments-o"></i>
		</a>

		<ul class="dropdown-menu list-unstyled" aria-labelledby="chat-dropdown">
			<li class="dropdown-title darkgrey_bg_color">
				<h4>
					Small Chat
					<span class="pull-right">14.03.2017</span>
				</h4>
			</li>
			<li>

				<ul class="list-unstyled">
					<li class="side-chat-item item-secondary">
						<h5>
							Michael Anderson
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:50
							</time>
						</h5>
						<div class="danger_bg_color">
							Duis autem veum iriure dolor in hendrerit
						</div>
					</li>
					<li class="side-chat-item item-primary">
						<h5>
							Jane Walker
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:52
							</time>
						</h5>
						<div class="warning_bg_color">
							Vulputate vese molestie consequatl illum
						</div>
					</li>
					<li class="side-chat-item item-secondary">
						<h5>
							Michael Anderson
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:50
							</time>
						</h5>
						<div class="danger_bg_color">
							Duis autem veum iriure dolor in hendrerit
						</div>
					</li>
				</ul>
			</li>


			<li role="separator" class="divider"></li>

			<li>
				<div class="side-chat-answer">
					<form class="form-inline button-on-input">
						<div class="form-group">
							<label for="side-chat-message" class="sr-only">Message</label>
							<input type="text" class="form-control" id="side-chat-message" placeholder="Message">
						</div>
						<button type="submit" class="btn btn-danger">
							<i class="fa fa-paper-plane-o"></i>
						</button>
					</form>
				</div>
			</li>
		</ul>
	</div>
	<a class="side-button side-contact-button" data-target="#admin_contact_modal" href="#admin_contact_modal" data-toggle="modal" role="button">
		<i class="fa fa-envelope"></i>
	</a>


	<script src="{% static 'js/compressed.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	<script src="{% static 'js/admin/moment.min.js' %}"></script>
	<script src="{% static 'js/admin/fullcalendar.min.js' %}"></script>
	<script src="{% static 'js/admin/daterangepicker.js' %}"></script>
	<script src="{% static 'js/admin/Chart.bundle.min.js' %}"></script>
	<script src="{% static 'js/admin/jquery-jvectormap-2.0.3.min.js' %}"></script>
	<script src="{% static 'js/admin/jquery-jvectormap-world-mill.js' %}"></script>
	<script src="{% static 'js/admin/jquery.sparkline.min.js' %}"></script>
	<script src="{% static 'js/admin.js' %}"></script>

</body>


</html>