{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="images/favicon.png" rel="icon" />
<title>Order Invoice</title>
<link rel = "icon" href = "{% static 'images/logo.png' %}"type = "image/x-icon">

<meta name="author" content="harnishdesign.net">

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' type='text/css'>

<link rel="stylesheet" type="text/css" href="{% static 'js/vendor/bootstrap/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/vendor/font-awesome/css/all.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}"/>
</head>
<body>

<div class="container-fluid invoice-container">
  <header>
  <div class="row align-items-center">
    <div class="col-sm-7 text-center text-sm-left mb-3 mb-sm-0">
      <a href="{% url 'index' %}" class="logo top_logo">
        <img src="{% static 'images/logo.png' %}" alt="">
        
      </a> 
      <span class="logo_text">
        <span class="big">EcoPlast</span>
        <span class="small-text">Recycling</span>
      </span>   
    </div>
    <div class="col-sm-5 text-center text-sm-right">
      <h4 class="text-7 mb-0">Invoice</h4>
    </div>
  </div>
  <hr>
  </header>
  
  {% if invoice %}

  <main>
  <div class="row">
    <div class="col-sm-6"><strong>Date and Time:</strong> {{invoice.order_date}}</div>
    <div class="col-sm-6 text-sm-right"> <strong>Invoice No:</strong> {{invoice.id}}</div>
	  
  </div>
  <hr>
  
  <div class="row">
    <div class="col-sm-6 text-sm-right order-sm-1"> <strong>Pay To:</strong>
      <address>
      {{invoice.company_id.comp_name}},<br />
      {{invoice.company_id.comp_address}},<br />
      {{invoice.company_id.comp_city}}, {{invoice.company_id.comp_state}}, {{invoice.company_id.comp_postalcode}} <br />
      {{invoice.company_id.master_id.email}} <br>
      +91 {{invoice.company_id.comp_contact}}
      </address>
    </div>
    <div class="col-sm-6 order-sm-0"> <strong>Invoiced To:</strong>
      <address>
      {{invoice.cust_id.fname}} {{invoice.cust_id.lname}},<br />
      {{invoice.cust_id.address}},<br />
      {{invoice.cust_id.city}}, {{invoice.cust_id.state}}, {{invoice.cust_id.postalcode}}<br />
      {{invoice.cust_id.master_id.email}} <br>
      +91 {{invoice.cust_id.contact}}
      
      </address>
    </div>
  </div>
  <div class="card">
    <div class="card-body p-0">
      <div class="table-responsive">

        <table class="table mb-0">
		<thead class="card-header">
          <tr>
            <td class="col-3 border"><strong>Product</strong></td>
            <td class="col-2 text-center border"><strong>Rate</strong></td>
			<td class="col-1 text-center border"><strong>Quantity</strong></td>
            <td class="col-2 text-right border"><strong>Amount</strong></td>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td class="col-3 border">{{invoice.rp_id.rproduct_name}}</td>
              <td class="col-2 text-center border">{{invoice.rp_id.rproduct_price}}</td>
			  <td class="col-1 text-center border">{{invoice.cart_quantity}}</td>
			  <td class="col-2 text-right border">{{invoice.cart_subtotal}}</td>
            </tr>
          </tbody>
          <tfoot class="card-footer">
          <tr>
            <td colspan="3" class="text-right"><strong>Sub Total:</strong></td>
            <td><i class="fa fa-inr"></i>{{invoice.cart_subtotal}}</td>
          </tr>
          <tr>
            <td colspan="3" class="text-right"><strong>Shipping:</strong></td>
            <td><i class="fa fa-inr"></i>00.00</td>
          </tr>
          <tr>
            <td colspan="3" class="text-right"><strong>Total:</strong></td>
            <td><i class="fa fa-inr"></i>{{invoice.cart_subtotal}}</td>
          </tr>
		  </tfoot>
        </table>
        {% endif %}
      </div>
    </div>
  </div>
  </main>
  <footer class="text-center mt-4">
  <p class="text-1"><strong>NOTE :</strong> This is computer generated receipt and does not require physical signature.</p>
  <div class="btn-group btn-group-sm d-print-none"> <a href="javascript:window.print()" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-print"></i> Print</a> <a href="" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-download"></i> Download</a> </div>
  </footer>
</div>
</body>
</html>