{% load static %}>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
		<title>EcoPlast</title>
    	<link rel = "icon" href = "{% static 'images/logo.png' %}"type = "image/x-icon">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/animations.css' %}">
		<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
		<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" class="color-switcher-link' %}">
		<script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>

        <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js' %}" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
		<div id="canvas">
			<div id="box_wrapper">
	
				<section>
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 to_animate">
								<div class="with_border with_padding">
									<h4 class="text-center">
										OTP Verification
									</h4>
									{% if msg3 %}
									
									<strong><p style="color: red;">{{msg3}}</p></strong>
				
									{% endif %}
									<form action="{% url 'otpverify' %}" method="post">
										{% csrf_token %}
										<input type="hidden" name="role" id="" value="customer">
									<hr class="bottommargin_30">
									<div class="wrap-forms">
										<form>
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group has-placeholder">
														<label for="login-email">Email address</label>
														{% if email %}
														OTP sent to 
															{{email}}
														{% endif %}
														
															<input type="hidden" class="form-control" id="login-email" placeholder="Email Address" value="{{email}}" name="email">
													</div>
				
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group has-placeholder">
														<label for="login-password">Enter Otp</label>
														<i class="grey fa fa-pencil-square-o"></i>
														<input type="number" class="form-control" id="login-password" placeholder="Enter OTP" name="eotp">
													</div>
												</div>
											</div>

											<button type="submit"  class="theme_button block_button color1">Verify</button>
										</form>
									</div>
									</form>
									<div class="collapse form-inline-button" id="signin-resend-password">
										<form class="form-inline topmargin_20">
											<div class="form-group">
												<label class="sr-only">Enter your e-mail</label>
												<input type="email" class="form-control" placeholder="E-mail">
											</div>
											<button type="submit" class="theme_button with_icon">
												<i class="fa fa-share"></i>
											</button>
										</form>
									</div>
				
				
								</div>
	
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
<script src="{% static 'js/compressed.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'js/admin/moment.min.js' %}"></script>
<script src="js/admin/fullcalendar.min.js"></script>
<script src="{% static 'js/admin/daterangepicker.js' %}"></script>
<script src="{% static 'js/admin/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/admin/jquery-jvectormap-2.0.3.min.js' %}"></script>
<script src="{% static 'js/admin/jquery-jvectormap-world-mill.js' %}"></script>
<script src="{% static 'js/admin/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>
</body>
</html>
