{% extends 'ep/base5.html' %}
{% block content %}
			<section class="ls with_bottom_border">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<ol class="breadcrumb darklinks">
								<li>
									<a href="{% url 'collectorindex' pk=request.session.id %}">Dashboard</a>
								</li>
								<li>Account</li>
								<li class="active">Profile</li>
							</ol>
						</div>
						<div class="col-md-6 text-md-right">
							<span class="dashboard-daterangepicker">
								<i class="fa fa-calendar"></i>
								<span></span>
								<i class="caret"></i>
							</span>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_top_50 section_padding_bottom_50 columns_padding_10">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-9">

							<div class="row">
								<div class="col-md-12">
									<h3>Plastic Collector's Profile</h3>
								</div>
							</div>
							

							<div class="row">

								<div class="col-xs-12 col-md-6">
									<div class="with_border with_padding">
										<h4>
											Collector's Information
										</h4>

										<ul class="list1 no-bullets">
											
											<li>
												<div class="media small-teaser">
													<div class="media-left media-middle">
														<div class="teaser_icon label-success round fontsize_16">
															<i class="fa fa-users"></i>
														</div>
													</div>
													<div class="media-body media-middle">
														<strong class="grey">
															Company:
														</strong>
														{{key8.pc_name}}
													</div>
												</div>
											</li>
											<li>
												<div class="media small-teaser">
													<div class="media-left media-middle">
														<div class="teaser_icon label-info round fontsize_16">
															<i class="fa fa-briefcase"></i>
														</div>
													</div>
													<div class="media-body media-middle">
														<strong class="grey">
															Role:
														</strong>
														{{request.session.Role}}
													</div>
												</div>
											</li>
											
											</li>
											<li>
												<div class="media small-teaser">
													<div class="media-left media-middle">
														<div class="teaser_icon label-info fontsize_16">
															<i class="fa fa-calendar"></i>
														</div>
													</div>
													<div class="media-body media-middle">
														<strong class="grey">
															Member since:
														</strong>
														{{key8.master_id.is_created}}
													</div>
												</div>
											</li>
											
										</ul>

									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="with_border with_padding">
										<h4>
											Owner's Information
										</h4>

										<ul class="list1 no-bullets">
											<li>
												<div class="media small-teaser">
													<div class="media-left media-middle">
														<div class="teaser_icon label-warning round fontsize_16">
															<i class="fa fa-globe"></i>
														</div>
													</div>
													<div class="media-body media-middle">
														<strong class="grey">
															Location:
														</strong>
														India
													</div>
												</div>
											</li>
											<li>
												<div class="media small-teaser">
													<div class="media-left media-middle">
														<div class="teaser_icon label-success round fontsize_16">
															<i class="fa fa-user"></i>
														</div>
													</div>
													<div class="media-body media-middle">
														<strong class="grey">
															Owner:
														</strong>
														{{key8.owner_fname}} {{key8.owner_lname}}
													</div>
												</div>
											</li>
											<li>
												<div class="media small-teaser">
													<div class="media-left media-middle">
														<div class="teaser_icon label-info fontsize_16">
															<i class="fa fa-leaf"></i>
														</div>
													</div>
													<div class="media-body media-middle">
														<strong class="grey">
															Gender:
														</strong>
														{{key8.owner_gender}}
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-3">
							<div class="row">
								<div class="col-sm-12">
									<div class="panel-group bottommargin_0" id="contact-info-accordion">

										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="icon-tab" data-toggle="collapse" data-parent="#contact-info-accordion" href="#user-info-collapse1">
														<i class="highlight fontsize_16 fa fa-phone"></i>
														Work Phone
													</a>
												</h4>
											</div>
											<div id="user-info-collapse1" class="panel-collapse collapse in">
												<div class="panel-body">
													<p>
											<strong>{{key8.pc_contact}}</strong> <Br>(07:00-17:00 EST Mon-Fri)
										</p>
												</div>
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="icon-tab collapsed" data-toggle="collapse" data-parent="#contact-info-accordion" href="#user-info-collapse2">
														<i class="highlight fontsize_16 fa fa-link"></i>
														WebSite
													</a>
												</h4>
											</div>
											<div id="user-info-collapse2" class="panel-collapse collapse">
												<div class="panel-body">
													<p>
											<a href="http://127.0.0.1:8000/"><strong>{{key8.pc_website}}</strong></a>
										</p>
												</div>
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="icon-tab collapsed" data-toggle="collapse" data-parent="#contact-info-accordion" href="#user-info-collapse3">
														<i class="highlight fontsize_16 fa fa-envelope"></i>
														E-mail address
													</a>
												</h4>
											</div>
											<div id="user-info-collapse3" class="panel-collapse collapse">
												<div class="panel-body">

													<p class="greylinks">
											<a href="mailto:your@mail.com">{{request.session.email}}</a>
										</p>
												</div>
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="icon-tab collapsed" data-toggle="collapse" data-parent="#contact-info-accordion" href="#user-info-collapse4">
														<i class="highlight fontsize_16 fa fa-map-marker"></i>
														Address
													</a>
												</h4>
											</div>
											<div id="user-info-collapse4" class="panel-collapse collapse">
												<div class="panel-body">

													<p>
											{{key8.pc_address}}
										</p>

												</div>
											</div>
										</div>

										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="icon-tab collapsed" data-toggle="collapse" data-parent="#contact-info-accordion" href="#user-info-collapse5">
														<i class="highlight fontsize_16 fa fa-users"></i>
														Social Networks
													</a>
												</h4>
											</div>
											<div id="user-info-collapse5" class="panel-collapse collapse">
												<div class="panel-body">

													<p>
											<a href="#" class="social-icon soc-facebook"></a>
											<a href="#" class="social-icon soc-twitter"></a>
											<a href="#" class="social-icon soc-google"></a>
											<a href="#" class="social-icon soc-linkedin"></a>
										</p>

												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="page_copyright ds darkblue_bg_color">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6">
							<p class="grey">&copy; Copyrights 2021</p>
						</div>
						<div class="col-sm-6 text-sm-right">
							<p class="grey">Last account activity <i class="fa fa-clock-o"></i> 52 mins ago</p>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>


	<div class="side-dropdown side-chat dropdown">
		<a class="side-button side-chat-button" id="chat-dropdown" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-comments-o"></i>
		</a>

		<ul class="dropdown-menu list-unstyled" aria-labelledby="chat-dropdown">
			<li class="dropdown-title darkgrey_bg_color">
				<h4>
					Small Chat
					<span class="pull-right">14.03.2017</span>
				</h4>
			</li>
			<li>

				<ul class="list-unstyled">
					<li class="side-chat-item item-secondary">
						<h5>
							Michael Anderson
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:50
							</time>
						</h5>
						<div class="danger_bg_color">
							Duis autem veum iriure dolor in hendrerit
						</div>
					</li>
					<li class="side-chat-item item-primary">
						<h5>
							Jane Walker
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:52
							</time>
						</h5>
						<div class="warning_bg_color">
							Vulputate vese molestie consequatl illum
						</div>
					</li>
					<li class="side-chat-item item-secondary">
						<h5>
							Michael Anderson
							<time class="pull-right small-chat-date" datetime="2017-03-13T08:50:40+00:00">
								08:50
							</time>
						</h5>
						<div class="danger_bg_color">
							Duis autem veum iriure dolor in hendrerit
						</div>
					</li>
				</ul>
			</li>


			<li role="separator" class="divider"></li>

			<li>
				<div class="side-chat-answer">
					<form class="form-inline button-on-input">
						<div class="form-group">
							<label for="side-chat-message" class="sr-only">Message</label>
							<input type="text" class="form-control" id="side-chat-message" placeholder="Message">
						</div>
						<button type="submit" class="btn btn-danger">
							<i class="fa fa-paper-plane-o"></i>
						</button>
					</form>
				</div>
			</li>
		</ul>
	</div>
{% endblock %}